# Ignorar archivos de templates Django
login/templates/login/dashboard.html
propiedades/templates/**/*.html
core/templates/**/*.html
static/js/**/*.js

# Ignorar archivos de configuración
*.conf
*.sh
*.py